h1 {
    color: #1B208C;
    text-align: center;
}

h3 {
    color: #023E73;
    text-align: center;
}

#start, #end {
    width: 230px;
    color: slategrey;
}

.date-selector {
    display: flex;
    flex-direction: column;
    color:#023E73;
}