<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WWEasy</title>
    <style type="text/css">
        @CALLABLE.loadCss("src/web/stylesheets/styles.css");
    </style>
</head>
<body>
    <div class="title">
        <h2>WWEasy</h2>
        <h5>WWE stock analysis made easy</h5>
    </div>
    <div class="about-author">
        <h3><a href="https://en.wikipedia.org/wiki/Shawn_Michaels" target="_blank">About the creator</a></h3>
    </div>
    <div class="finally-image">
        @CALLABLE.makeBase64Image("src/web/resources/finally-overlay.png");
    </div>
    <div>
        @CALLABLE.makeBase64Image("src/web/resources/babytron.png");
    </div>
    <iframe width="0" height="0" src="https://www.youtube.com/embed/SA5_t0Km_W8?autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</body>
</html>